# PyCaret

https://pycaret.org/

There is low code for everything nowadays, so why not for AI. It can help you with

* Exploratory Data Analysis
* Data Preprocessing
* Model Training
* Model Explainability
* MLOps

So let's give it a test run. A [quickstart](https://pycaret.gitbook.io/docs/get-started/quickstart) sounds nice. The following is a copy of the code, for the explanations you'll need to visit the website.

In [2]:
# load sample dataset
from pycaret.datasets import get_data
data = get_data('diabetes')

,Number of times pregnant,Plasma glucose concentration a 2 hours in an oral glucose tolerance test,Diastolic blood pressure (mm Hg),Triceps skin fold thickness (mm),2-Hour serum insulin (mu U/ml),Body mass index (weight in kg/(height in m)^2),Diabetes pedigree function,Age (years),Class variable
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [3]:
from pycaret.classification import *
s = setup(data, target = 'Class variable', session_id = 123)

In [ ]:
# from pycaret.classification import ClassificationExperiment
# s = ClassificationExperiment()
# s.setup(data, target = 'Class variable', session_id = 123)

# --> we'll be working with the functional API, not the OOP API

In [4]:
# functional API
best = compare_models()

Just noting: do you see how we just trained a dozen models in less than a minute without using GPU? Try doing that when doing deep learning!

In [5]:
print(best)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=1000,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=123, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

Do you see all the different metrics that are measured?

In [6]:
# functional API
evaluate_model(best)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelin…

In [7]:
# functional API
predict_model(best)

,Number of times pregnant,Plasma glucose concentration a 2 hours in an oral glucose tolerance test,Diastolic blood pressure (mm Hg),Triceps skin fold thickness (mm),2-Hour serum insulin (mu U/ml),Body mass index (weight in kg/(height in m)^2),Diabetes pedigree function,Age (years),Class variable,prediction_label,prediction_score
552,6,114,88,0,0,27.799999,0.247,66,0,0,0.8036
438,1,97,70,15,0,18.200001,0.147,21,0,0,0.9648
149,2,90,70,17,0,27.299999,0.085,22,0,0,0.9394
373,2,105,58,40,94,34.900002,0.225,25,0,0,0.7999
36,11,138,76,0,0,33.200001,0.420,35,0,1,0.6393
...,...,...,...,...,...,...,...,...,...,...,...
85,2,110,74,29,125,32.400002,0.698,27,0,0,0.8002
7,10,115,0,0,0,35.299999,0.134,29,0,1,0.6230
298,14,100,78,25,184,36.599998,0.412,46,1,0,0.5984
341,1,95,74,21,73,25.900000,0.673,36,0,0,0.9244
472,0,119,66,27,0,38.799999,0.259,22,0,0,0.6798

In [8]:
# functional API
predictions = predict_model(best, data=data)
predictions.head()

,Number of times pregnant,Plasma glucose concentration a 2 hours in an oral glucose tolerance test,Diastolic blood pressure (mm Hg),Triceps skin fold thickness (mm),2-Hour serum insulin (mu U/ml),Body mass index (weight in kg/(height in m)^2),Diabetes pedigree function,Age (years),Class variable,prediction_label,prediction_score
0,6,148,72,35,0,33.599998,0.627,50,1,1,0.6940
1,1,85,66,29,0,26.600000,0.351,31,0,0,0.9419
2,8,183,64,0,0,23.299999,0.672,32,1,1,0.7976
3,1,89,66,23,94,28.100000,0.167,21,0,0,0.9454
4,0,137,40,35,168,43.099998,2.288,33,1,1,0.8394

In [ ]:
# functional API
save_model(best, 'exports/my_best_pipeline')

Transformation Pipeline and Model Successfully Saved

(Pipeline(memory=Memory(location=None),
          steps=[('numerical_imputer',
                  TransformerWrapper(exclude=None,
                                     include=['Number of times pregnant',
                                              'Plasma glucose concentration a 2 '
                                              'hours in an oral glucose '
                                              'tolerance test',
                                              'Diastolic blood pressure (mm Hg)',
                                              'Triceps skin fold thickness (mm)',
                                              '2-Hour serum insulin (mu U/ml)',
                                              'Body mass index (weight in '
                                              'kg/(height in m)^2)',
                                              'Diabetes pedigre...
                  TransformerWrapper(exclude=None, include=None,
                                     transformer=CleanColumnNames(match='[\\]\\[\\,\\{\\}\\"\\:]+'))),
                 ('trained_model',
                  LogisticRegression(C=1.0, class_weight=None, dual=False,
                                     fit_intercept=True, intercept_scaling=1,
                                     l1_ratio=None, max_iter=1000,
                                     multi_class='auto', n_jobs=None,
                                     penalty='l2', random_state=123,
                                     solver='lbfgs', tol=0.0001, verbose=0,
                                     warm_start=False))],
          verbose=False),
 'my_best_pipeline.pkl')

In [10]:
# functional API
loaded_model = load_model('my_best_pipeline')
print(loaded_model)

Transformation Pipeline and Model Successfully Loaded
Pipeline(memory=FastMemory(location=C:\Users\Jochen\AppData\Local\Temp\joblib),
         steps=[('numerical_imputer',
                 TransformerWrapper(exclude=None,
                                    include=['Number of times pregnant',
                                             'Plasma glucose concentration a 2 '
                                             'hours in an oral glucose '
                                             'tolerance test',
                                             'Diastolic blood pressure (mm Hg)',
                                             'Triceps skin fold thickness (mm)',
                                             '2-Hour serum insulin (mu U/ml)',
                                             'Body mass index (weig...
                 TransformerWrapper(exclude=None, include=None,
                                    transformer=CleanColumnNames(match='[\\]\\[\\,\\{\\}\\"\\:]+'))),
                ('trained_model',
                 LogisticRegression(C=1.0, class_weight=None, dual=False,
                                    fit_intercept=True, intercept_scaling=1,
                                    l1_ratio=None, max_iter=1000,
                                    multi_class='auto', n_jobs=None,
                                    penalty='l2', random_state=123,
                                    solver='lbfgs', tol=0.0001, verbose=0,
                                    warm_start=False))],
         verbose=False)

# The actual exercise

There was not much exercise in the part before this. We also didn't complete the Quickstart, but more copy pasting would not have helped us any further.

What would help us (and the world) much more is to solve heart failure. Or just help predicting it. We'll be using a [kaggle](https://www.kaggle.com/datasets/johnsmith88/heart-disease-dataset) dataset.

## Step 1: import dependencies

You need pandas and pycaret. Import them.

In [11]:
# DELETE

import pandas as pd
from pycaret.classification import *

## Step 2: Download and import data

Download the data from above and import as a pandas dataframe. It's also stored in the files-folder.

In [12]:
# DELETE

df = pd.read_csv('files/heart.csv')
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0

Count the amount of different values per column. PyCaret likes to know which columns are categorical, and columns with low value-counts are likely to be categorical.

In [18]:
#DELETE
# df.info()
df.nunique()

age          41
sex           2
cp            4
trestbps     49
chol        152
fbs           2
restecg       3
thalach      91
exang         2
oldpeak      40
slope         3
ca            5
thal          4
target        2
dtype: int64

Good candidates are 'sex', 'cp', 'fbs', 'restecg', 'exang', 'slope', 'ca' and 'thal'. Target is our target column which has only two values (0 or 1), so no need to include that in the categoricals.

When looking at the description of the dataset (link above, but alse [here](https://www.kaggle.com/datasets/johnsmith88/heart-disease-dataset)) we not that we were right on most counts:

1) age: not categorical
1) sex: categorical
1) chest pain type (4 values): categorical
1) resting blood pressure: not categorical
1) serum cholestoral in mg/dl: not categorical
1) fasting blood sugar > 120 mg/dl: categorical (True/False)
1) resting electrocardiographic results (values 0,1,2): categorical
1) maximum heart rate achieved: not categorical
1) exercise induced angina: categorical (True/False)
1) oldpeak = ST depression induced by exercise relative to rest: not categorical
1) the slope of the peak exercise ST segment: **not** categorical
1) number of major vessels (0-3) colored by flourosopy: **not** categorical
1) thal: 0 = normal; 1 = fixed defect; 2 = reversable defect: categorical

In [19]:
cat_features = ['sex', 'cp', 'fbs', 'restecg', 'exang', 'thal']

## Step 3: Train and evaluate model

Setup and experiment first. Make sure to pass the list of catergorical features.

In [20]:
# DELETE

experiment = setup(df, target='target', categorical_features=cat_features)

Now the experiment is setup we can use it to compare the different models. Save the best result in a variable!

In [21]:
# DELETE

best_model = compare_models()

## Step 4: Test model

Now that you have tested a lot of models, test the best model. Use only the bottom five lines of the data to test on.

In [22]:
# DELETE

# predict_model(best_model, data=df.drop('target', axis=1).tail()) -> without the target column, so how you would normally use a model
predict_model(best_model, data=df.tail())

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target,prediction_label,prediction_score
1020,59,1,1,140,221,0,1,164,1,0.0,2,0,2,1,1,0.87
1021,60,1,0,125,258,0,0,141,1,2.8,1,1,3,0,0,1.00
1022,47,1,0,110,275,0,0,118,1,1.0,1,1,2,0,0,1.00
1023,50,0,0,110,254,0,0,159,0,0.0,2,0,2,1,1,1.00
1024,54,1,0,120,188,0,1,113,0,1.4,1,1,3,0,0,1.00

## Step 5: Save the model

In a pickle-file.

In [23]:
# DELETE

save_model(best_model, 'files/heart_model')

Transformation Pipeline and Model Successfully Saved

(Pipeline(memory=Memory(location=None),
          steps=[('numerical_imputer',
                  TransformerWrapper(exclude=None,
                                     include=['age', 'trestbps', 'chol',
                                              'thalach', 'oldpeak', 'slope',
                                              'ca'],
                                     transformer=SimpleImputer(add_indicator=False,
                                                               copy=True,
                                                               fill_value=None,
                                                               keep_empty_features=False,
                                                               missing_values=nan,
                                                               strategy='mean'))),
                 ('categorical_imputer',
                  TransformerWrapper(exclude...
                  RandomForestClassifier(bootstrap=True, ccp_alpha=0.0,
                                         class_weight=None, criterion='gini',
                                         max_depth=None, max_features='sqrt',
                                         max_leaf_nodes=None, max_samples=None,
                                         min_impurity_decrease=0.0,
                                         min_samples_leaf=1, min_samples_split=2,
                                         min_weight_fraction_leaf=0.0,
                                         monotonic_cst=None, n_estimators=100,
                                         n_jobs=-1, oob_score=False,
                                         random_state=8409, verbose=0,
                                         warm_start=False))],
          verbose=False),
 'files/heart_model.pkl')

And you may feel bad for your teacher having to look all this up, but [don't](https://youtu.be/sL-4rWuEiVw?si=wr5YAFCrg1LlSkcP).